# http://git-scm.com/docs/gitignore/

__pycache__
.coverage
*.pyc
collatz-tests/GGM433-RunCollatz.in
collatz-tests/GGM433-RunCollatz.out
collatz-tests/GGM433-TestCollatz.out
collatz-tests/GGM433-TestCollatz.py
collatz-tests/README
collatz-tests/aab3473-RunCollatz.in
collatz-tests/aab3473-RunCollatz.out
collatz-tests/aab3473-TestCollatz.out
collatz-tests/aab3473-TestCollatz.py
collatz-tests/bjq59-RunCollatz.in
collatz-tests/bjq59-RunCollatz.out
collatz-tests/bjq59-TestCollatz.out
collatz-tests/bjq59-TestCollatz.py
collatz-tests/bp7897-RunCollatz.in
collatz-tests/bp7897-RunCollatz.out
collatz-tests/bp7897-TestCollatz.out
collatz-tests/bp7897-TestCollatz.py
collatz-tests/cat3263-RunCollatz.in
collatz-tests/cat3263-RunCollatz.out
collatz-tests/cat3263-TestCollatz.out
collatz-tests/cat3263-TestCollatz.py
collatz-tests/dfw369-RunCollatz.in
collatz-tests/dfw369-RunCollatz.out
collatz-tests/dfw369-TestCollatz.out
collatz-tests/dfw369-TestCollatz.py
collatz-tests/dr26284-RunCollatz.in
collatz-tests/dr26284-RunCollatz.out
collatz-tests/dr26284-TestCollatz.out
collatz-tests/dr26284-TestCollatz.py
collatz-tests/jp44265-RunCollatz.in
collatz-tests/jp44265-RunCollatz.out
collatz-tests/jp44265-TestCollatz.out
collatz-tests/jp44265-TestCollatz.py
collatz-tests/jt33328-RunCollatz.in
collatz-tests/jt33328-RunCollatz.out
collatz-tests/jt33328-TestCollatz.out
collatz-tests/jt33328-TestCollatz.py
collatz-tests/kd9844-RunCollatz.in
collatz-tests/kd9844-RunCollatz.out
collatz-tests/kd9844-TestCollatz.out
collatz-tests/kd9844-TestCollatz.py
collatz-tests/kh549-RunCollatz.in
collatz-tests/kh549-RunCollatz.out
collatz-tests/kh549-TestCollatz.out
collatz-tests/kh549-TestCollatz.py
collatz-tests/kmd2693-RunCollatz.in
collatz-tests/kmd2693-RunCollatz.out
collatz-tests/kmd2693-TestCollatz.out
collatz-tests/kmd2693-TestCollatz.py
collatz-tests/mb45597-RunCollatz.in
collatz-tests/mb45597-RunCollatz.out
collatz-tests/mb45597-TestCollatz.out
collatz-tests/mb45597-TestCollatz.py
collatz-tests/pas2465-RunCollatz.in
collatz-tests/pas2465-RunCollatz.out
collatz-tests/pas2465-TestCollatz.out
collatz-tests/pas2465-TestCollatz.py
collatz-tests/rjr2426-RunCollatz.in
collatz-tests/rjr2426-RunCollatz.out
collatz-tests/rjr2426-TestCollatz.out
collatz-tests/rjr2426-TestCollatz.py
collatz-tests/rml953-RunCollatz.in
collatz-tests/rml953-RunCollatz.out
collatz-tests/rml953-TestCollatz.out
collatz-tests/rml953-TestCollatz.py
collatz-tests/tnv269-RunCollatz.in
collatz-tests/tnv269-RunCollatz.out
collatz-tests/tnv269-TestCollatz.out
collatz-tests/tnv269-TestCollatz.py
collatz-tests/upn63-RunCollatz.in
collatz-tests/upn63-RunCollatz.out
collatz-tests/upn63-TestCollatz.out
collatz-tests/upn63-TestCollatz.py
collatz-tests/xmr73-RunCollatz.in
collatz-tests/xmr73-RunCollatz.out
CacheHeater.py
TestGen.py
TileFactory.py
